<aside>
    <div class="nav">

      <a href="#" class="nav-logo"> <img src="assets/media/icons/cb logo.png" alt="Logo"></a> 
        <ul class="nav-list">
            <li class="nav-item"><a routerLinkActive="active" routerLink="sport"><img src="assets/media/icons/sport.png" alt="Sport"></a></li>
            <li class="nav-item"><a routerLinkActive="active" routerLink="live"><img src="assets/media/icons/live.png" alt="Live"></a></li>
            <li class="nav-item"><a routerLinkActive="active" routerLink="slots"><img src="assets/media/icons/slots.png" alt="Slots"></a></li>
            <li class="nav-item"><a routerLinkActive="active" routerLink="casino"><img src="assets/media/icons/casino.png" alt="Casion"></a></li>
        </ul>
    </div>
  </aside>