<div class="category-filter-container">
  <button class="see-more" (click)="toggleButton()">
    {{ seeMore() ? 'See less' : 'See more' }}
    <span
      ><img
      [@rotateArrow]="seeMore() ? 'up' : 'down'"
      src="assets/media/icons/arrow.png"
    /></span>
  </button>
  <div
    class="filter-list"
    [@expandCollapse]="seeMore() ? 'expanded' : 'collapsed'"
    >
    @for (item of store.categories(); track item) {
      <button
        class="filter-item"
        (click)="selectButton(item)"
        [ngClass]="{'selected': item.category === store.activeCategory() && store.activeFilter() === 'category'}"
        >
        {{ item.name }}
        <span
          class="slot-count"
         
          >{{ item.totalGames }}</span
          >
        </button>
      }
    </div>
  </div>
